USE [master]
GO
/****** Object:  Database [orderDirect]    Script Date: 2020/06/30 10:31:34 ******/
CREATE DATABASE [orderDirect]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'orderDirect', FILENAME = N'C:\Users\nnjapa\orderDirect.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'orderDirect_log', FILENAME = N'C:\Users\nnjapa\orderDirect_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [orderDirect].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [orderDirect]
GO
USE [orderDirect]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2020/06/30 10:31:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](64) NULL,
	[ProductDescription] [varchar](max) NULL,
	[ProductPrice] [varchar](255) NULL,
	[StockOnHand] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
